@import '../../vars';

.button {
    background:$brandBlue;
    padding:12px 50px;
    color:#fff;
    font-size: 14px;
    text-align: center;
    font-weight:400;
    letter-spacing: 0.47px;
    text-transform: uppercase;
    border-radius: 3px;
    display:table;
    cursor: pointer;
    @include transition(all .3s ease);

    &:hover {
        background-color: $brandBlueAlt;
    }
}