@import '../../vars';
.textareawrapper {

    :global .textarea {
        position:relative;
        background:#fff;
        border:1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        padding:2px;
        margin:0 0 16px;
        display:flex;  
        min-height: 300px;
        box-sizing: border-box; 
    
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus {
            background-color:transparent !important;
            -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset !important;
            box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset !important;
            transition: background-color 5000s ease-in-out 0s;
            overflow:auto;
        }
        
        &.hasContent {
            label {
                top:-7px;
                left:7px;
                transform: scale(0.7);
                transform-origin: 0 0;
                z-index:6;
    
                &:after {
                    content:"";
                    z-index:-1;
                    left:0;
                    position: absolute;
                    width:100%;
                    height:100%;
                    background:#fff;
                }
            }
        }
        &.focused {
            border:1px solid $coral;
            box-shadow: 0px 0px 1px 1px $coral;
            label {
                top:-7px;
                left:7px;
                transform: scale(0.7);
                transform-origin: 0 0;
                color:$coral;
                
                &:after {
                    content:"";
                    z-index:-1;
                    left:0;
                    position: absolute;
                    width:100%;
                    height:100%;
                    background:#fff;
                }
            }
        }
    
        label {
            position:absolute;
            left:15px;
            top:15px;
            padding:1px 7px;
            font-family: $montserrat;
            font-size:16px;
            line-height:16px;
            color:rgba(0,0,0,.4);
            pointer-events: none;
            @include transition(all .2s ease-out);
        }
        textarea {
            background:transparent;
            border:none;
            outline:none;
            font-family: $montserrat;
            font-size:16px;
            line-height:26px;
            color:rgba(0,0,0,.7);
            padding: 10px 18px;
            margin:0px 0 0px;
            height:16px;
            flex-grow: 1;
            width:100%;
            min-height:25px;
            resize: none;
            overflow: hidden;
        }
        @keyframes onAutoFillStart {
        }    
        @keyframes onAutoFillCancel {
        }
        textarea:-webkit-autofill {
            animation-name: onAutoFillStart;
            transition: background-color 50000s ease-in-out 0s;
        }
        
        textarea:not(:-webkit-autofill) {
            animation-name: onAutoFillCancel;
        }
    }
}