@keyframes icon {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .icon div { box-sizing: border-box!important }
  .icon > div {
    position: absolute;
    width: 94px;
    height: 94px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    border: 12px solid #000;
    border-color: #007db8 transparent #007db8 transparent;
    animation: icon 1.1235955056179776s linear infinite;
  }
  .icon > div:nth-child(2) { border-color: transparent }
  .icon > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .icon > div:nth-child(2) div:before, .icon > div:nth-child(2) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: -12px;
    left: 29px;
    background: #007db8;
    border-radius: 50%;
    box-shadow: 0 82px 0 0 #007db8;
  }
  .icon > div:nth-child(2) div:after { 
    left: -12px;
    top: 29px;
    box-shadow: 82px 0 0 0 #007db8;
  }
  .loading {
    width: 74px;
    height: 74px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .icon {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.74);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .icon div { box-sizing: content-box; }